/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #ece1cf;
  color: #0b4934;
  text-align: center;
  padding: 20px;
}

/* Header */
header {
  margin-bottom: 30px;
}
header h1 {
  font-size: 2.5rem;
  color: #a08152;
}
header p {
  font-size: 1.2rem;
  color: #000;
}

/* Produtos em grid */
.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0)); 
  gap: 20px;
  margin-top: 30px;
  justify-content: center; 
}

/* Card */
.card {
  width: 250px;             
  background: #fff;
  border: 2px solid #a08152;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.03);
}

/* Imagens dentro dos cards */
.card img {
  max-width: 180px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12);
}

.card h2 {
  font-size: 1.3rem;
  margin: 10px 0;
  color: #0b4934;
}

.card p {
  font-size: 1rem;
  margin: 8px 0;
  color: #000;
}

.preco {
  font-size: 1.4rem;
  font-weight: bold;
  color: #a08152;
  margin: 10px 0;
}

/* Botão */
.btn {
  display: inline-block;
  background: #0b4934;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
}
.btn:hover {
  background: #a08152;
  color: #fff;
}

/* Ajuste das imagens dos produtos na página de detalhe */
.produto-detalhe img {
  max-width: 100%;
  max-height: 220px;
  object-fit: contain;
  border-radius: 10px;
  display: block;
  margin: 0 auto 20px auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Ajuste do banner */
.banner img {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  object-fit: contain;
}

/* Texto da oferta abaixo do banner */
.banner-oferta {
  font-size: 1.6rem;
  font-weight: bold;
  color: #a08152;
  margin-top: 10px;
}

/* RESPONSIVO (Celular) */
@media (max-width: 768px) {
  .banner img {
    max-width: 100%;
  }
  .banner-oferta {
    font-size: 1.2rem;
  }

  .produtos {
    grid-template-columns: 1fr; /* um produto por linha */
  }

  .card {
    width: 95%;          /* ocupa quase toda a tela */
    max-width:300px;     
    margin: 15px auto;
    padding: 20px;
  }

  .card img {
    max-width: 260px;    /* imagem bem maior */
  }

  .card h2 {
    font-size: 1.6rem;
  }

  .card p {
    font-size: 1.3rem;
  }

  .preco {
    font-size: 1.8rem;
  }

  .btn {
    padding: 14px 22px;
    font-size: 1.2rem;
  }
}



